html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    script(type='text/javascript', src=`${scriptSrc}`)
  body
    p
      | Find 
      span #{username}
      | 's address and enter it.
    form(id="form", method="post")
        input(type="text", placeholder="input address", name="address")
        br
        input(type="submit", value="enter")